html {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

img {
    height: 100vh;
}

.main-container {
    width: 50%;
    background-color: #e8fdf4;
}