html {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    color: white;
}

.image-container {
    background-image: url('images/john-rodenn-castillo-a9smyzW_1V4-unsplash.jpg');
    width: 530px;
    background-repeat: no-repeat;

}

.banner {
    background-color: #acd3c2;
    opacity: .4;
    position: absolute;
    top: 30%;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #acd3c2;
    font-family: 'Macondo', cursive;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;

}

.banner>img {
    opacity: .8;
    width: 260px;
    height: auto;
}

.banner>div {
    font-size: 3rem;
    line-height: 2.8rem;
    padding-left: 10px;

}

.photo-credit {
    color: #b2c4bc;
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
}

.main-container {
    width: 45%;
    background-color: #e8fdf4;
}