html {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

a {
    color: white;
}

.paragraph {
    padding: 30px 20px;
    line-height: 1.4rem;
}

.image-container {
    background-image: url('images/john-rodenn-castillo-a9smyzW_1V4-unsplash.jpg');
    width: 530px;
    background-repeat: no-repeat;

}

.banner {
    background-color: #b2c4bc;
    opacity: .4;
    position: absolute;
    top: 30%;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #acd3c2;
    font-family: 'Macondo', cursive;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;

}

.banner>img {
    opacity: 1;
    width: 200px;
    height: auto;
    /* filter: invert(); */
}

.banner>div {
    font-size: 3rem;
    line-height: 2.8rem;
    padding-left: 10px;
    color: black;
    width: 200px;

}

.photo-credit {
    color: #b2c4bc;
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
}

.main-container {
    width: 45%;
    background-color: #e8fdf4;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


h2 {
    color: #383f3c;
    background-color: white;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 20px;
    padding: 20px;
    font-size: 1.5rem;
}

.form-main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding-left: 20px;
    box-shadow: 0px 3px 5px gray;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 30px;

}



button {
    margin-top: 50px;
    width: 40%;
    height: 3.0rem;
    background-color: #466658;
    color: white;
    border-radius: 15px;
    font-size: 1.2rem;
}

button,
p {
    margin-left: 20px;
}

button:hover {
    background-color: #84a396;
}

label {
    font-size: .8rem;
    text-transform: uppercase;
}

input {
    font-size: 1.1rem;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 5px;
    width: 80%;
}

input:focus {
    border: 1px solid #466658;
    box-shadow: 2px 2px 5px #84a396;
}

p>a {
    color: #466658;
}

.error {
    border: 1px solid red;
}

.pw-subtext {
    font-size: 0.6rem;
    color: red;
    margin: 0;
    padding: 0;
}